@{
    ViewData["Title"] = "Fibonacci";
    int max = (int)ViewData["max"];
    int firstNum = 0;
    int secondNum = 1, resultNum;
}

<nav id="page-options">
    <ul>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="20">20</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="50">50</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="100">100</a></li>
    </ul>
</nav>

<ul id="fibonacci">

    @for (int i = 2; i < max; i += resultNum) //0 and 1 are declared as firstNum and secondNum
    {
        resultNum = firstNum + secondNum;
        //i += resultNum;
        firstNum = secondNum;
        secondNum = resultNum;


        <li>@i</li>
    }







</ul>